[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Script
Type=Application
Exec=xfce4-terminal -e "bash -c 'cd /root/zool-server && nodejs index.js; exec bash'"
Icon=
Terminal=true
StartupNotify=false
Hidden=false
GenericName=
GenericName[en_US]=
